* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(to top, #ffbf00, #ffa500c2);
    height: 100vh;
}
.main, form, .wrap_input {
    display: flex;
}
.main {
    justify-content: center;
}
form {
    border: 1px solid white;
    height: auto;
    min-height: 80px;
    width: 40vw;
    min-width: 220px;
    margin-top: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: end;
}

.wrap_input_submit {
    width: 10% !important;
}

.wrap_input_submit input {
    background: #f6ebeb;
    border: 2px solid #969696;
    height: 43px !important;
    text-align: center !important;
}
.wrap_input {
    flex-wrap: wrap;
    width: 40%;
    min-width: 185px;
}
.wrap_input label:nth-child(1), .wrap_input input:nth-child(2), .wrap_input_submit input {
    width: 100%;
}
.wrap_input input:nth-child(2), .wrap_input_submit input {
    height: 40px;
    border-radius: 5px;
    padding: 0 2px 0 2px;
    margin-bottom: 6px;
    text-align: right;
}
.number_ticket_bold {
    margin-top: 5px;
    font-weight: bold;
}
.not-valid {
    border: 2px solid red;
}
.error {
    color: red;
}
@media screen and (max-width: 1050px) {
    .wrap_input, .wrap_input_submit, .wrap_input_submit input {
        width: 100% !important;
    }
    .wrap_input_submit {
        margin-top: 10px;
    }
}